{% extends 'home/base.html' %}
{% load static %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/back.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}



 <div class = "login-form effect1">
        <form class = "" method = "POST"> {% csrf_token %}
            <h1>Log in</h1>
           
            <input type = "text" name = "username" placeholder="Username" class = "txtb">
            <input type="password" name="password" placeholder="Password" class = "txtb">

            <input type="submit" value = "Login" class = "signup-btn">
            {% for message in messages %}
                <p id="msg"> {{ message }} </p>
            {% endfor %}
             <p id = "t">New on Novel-T?</p><button class = "btn mybtn"><a href = "{% url 'home:register' %}">Sign up now</a></button>
        </form>
    </div>

{% endblock %}
